<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{'active': vm.currentWeek==0}" ng-click="vm.currentWeek='0'"><a href="#">Standings</a></li>
            <li ng-repeat="n in [1,2,3,4,5,6,7,8,9]" ng-class="{'active': vm.currentWeek==n}" ng-click="vm.currentWeek=n">
                <a href="#">Week {{n}}</a>
            </li>
        </ul>
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
