<div class="widget-head">
    <div class="page-title pull-left">{{title}}</div>
    <small class="page-title-subtle" ng-show="subtitle">({{subtitle}})</small>
    <div class="widget-icons pull-right"></div>
    <div class="pull-right page-title-subtle" ng-show="rightText">{{rightText}}</div>
    <div class="clearfix"></div>
</div>