<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">velkoz - {{cw}}</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li ng-class="{'active': vm.currentWeek==0}" ng-click="vm.currentWeek='0'"><a href="#">Standings</a></li>
                            <li ng-repeat="n in [1,2,3,4,5,6,7,8,9]" ng-class="{'active': vm.currentWeek==n}" ng-click="vm.currentWeek=n">
                                <a href="#/week/{{n}}">Week {{n}}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="row">
                <div class="col-md-2" ng-repeat="o in vm.owners[vm.currentWeek]">
                    <div class="widget wblue">
                        <div ht-widget-header title="{{o.name}}" right-text="{{o.points | number:2}}" allow-collapse="true">
                        </div>
                        <div class="clearfix"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <tbody>
                                <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Team</th>
                                    <th>Position</th>
                                    <th>Points</th>
                                </tr>
                                </thead>
                                <tr ng-repeat="p in o.players">
                                    <td>{{p.name}}</td>
                                    <td>{{p.proTeamId.shortName}}</td>
                                    <td>{{p.shortPosition}}</td>
                                    <td>{{p.totalPoints | number:2}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="widget wgreen">
                            <ht-widget-header title="Teams" allow-collapse="true"></ht-widget-header>
                            <div class="widget-content text-center text-info">
                                <table class="table table-condensed table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Wins</th>
                                        <th>Dragons</th>
                                        <th>Barons</th>
                                        <th>Towers</th>
                                        <th>Quick</th>
                                        <th>Total Points</th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="t in vm.teams[vm.currentWeek] | orderBy: 'name'">
                                        <td>{{t.name}}</td>
                                        <td>{{t.matchVictory}}</td>
                                        <td>{{t.dragonKills}}</td>
                                        <td>{{t.baronKills}}</td>
                                        <td>{{t.towerKills}}</td>
                                        <td>{{t.quickWinBonus}}</td>
                                        <td>{{t.totalPoints | number:2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="widget wred">
                            <div ht-widget-header title="Players"
                                 allow-collapse="true"></div>
                            <div class="widget-content text-center text-info">
                                <table class="table table-condensed table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Team</th>
                                        <th>Position</th>
                                        <th>Games</th>
                                        <th>Kills</th>
                                        <th>Deaths</th>
                                        <th>Assists</th>
                                        <th>Minions</th>
                                        <th>Player Points</th>
                                        <th>Team Points</th>
                                        <th>Total Points</th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="p in vm.stats[vm.currentWeek] | orderBy: ['proTeamId.name','position']">
                                        <td>{{p.name}}</td>
                                        <td>{{p.proTeamId.shortName}}</td>
                                        <td>{{p.position}}</td>
                                        <td>{{p.matchesPlayed}}</td>
                                        <td>{{p.kills}}</td>
                                        <td>{{p.deaths}}</td>
                                        <td>{{p.assists}}</td>
                                        <td>{{p.minionKills}}</td>
                                        <td>{{p.playerPoints | number:2}}</td>
                                        <td>{{p.teamPoints | number:2}}</td>
                                        <td>{{p.totalPoints | number:2}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>
